#container-header{
    transition: 2s all;
}

#header-middle{
    position: relative;
    z-index: 30;
    background: linear-gradient(
  to left,
  #1c1829 0%,
  #1b1828 8.61%,
  #191724 17.21%,
  #161520 25.82%,
  #14131c 34.42%,
  #121218 43.03%,
  #111117 51.63%
    )
}
#content-middle{
    background: #554d4d;
    backdrop-filter: blur(150px) brightness(1.2) saturate(2.5);
}
#button-nav{
    position: fixed;
    z-index: 1000;
    background: hsla(0, 0%, 0%, 0.74);
    display: flex;
    justify-content: center;
    border-radius: 9999px;
    transition: all 300ms;
    color: #fff;
    border : 1px solid #fff;
    &:hover{
        background: hsla(0, 2%, 9%, 0.171);
        color: #000000;
    }
}
#svg-nav{
    position: fixed;
}
#background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
  z-index: 10;
  filter: blur(100px);
}

#image-background{
  position: relative;
  z-index: 20;
  width: 500px;  /* Ajusta según tus necesidades */
  height: auto;
  display: block;
  margin: 0 auto;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}

#ul-container-li::-webkit-scrollbar {
  width: 2px; /* Ancho de la barra */
  height: 2px; /* Alto para scrollbar horizontal */
}

#ul-container-li::-webkit-scrollbar-track {
  background: #111117; /* El color más oscuro que tienes en el gradiente */
}

#ul-container-li::-webkit-scrollbar-thumb {
  background-color: rgba(20, 20, 20, 0.7); /* Gris muy oscuro semi-transparente */
  border-radius: 4px;
  border: 1px solid #121218; /* Un borde para que se integre más */
}

/* Scrollbar para Firefox */
#ul-container-li {
  scrollbar-color: rgba(20, 20, 20, 0.7) #111117;
  scrollbar-width: thin;
}

